/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

#headerWrapper {
    background-color: $secondaryColor;
    color: white;
}

header {
    display: flex;
    align-items: flex-end;
    padding: 1rem $gutter;
    gap: 8px;
    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: $normalWeight;
        color: white;
    }
}

#navWrapper {
    background-color: $secondaryColor;
    padding: .5rem;
}

nav {
    ul {
        list-style-type: none;
        padding: .75rem;
        margin: 0;
        display: flex;
        flex: 1;
        li {flex: 1;}
    }
    li.active {background-color: $primaryColor;}
    a {
        display: block;
        padding: 0.75rem;
        color: white;
        text-align: center;
        text-decoration: none;
        &:hover {color: lightsteelblue;}
    }
}

// begin the footer 
#footerWrapper {
    background-color: $primaryColor; 
    p {
        padding: 0.5rem $gutter;
        margin: 0;
        color: white;
        font-weight: $lightWeight;
        text-align: center;
    }
}


  