// Theme colors: Blue, Teal, Silver
$primaryColor: #254470; // Blue (Logo blue)
$secondaryColor: #008080; // Teal
$silverColor: #C0C0C0; // Silver
$fontColor: #21282e;

$defaultFont: 'Barlow', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;